
# Default SCK header
snippet head
        ------------------------------------------------------------------------------------------
        --
        --                            ..
        --                           =@@+
        --                           =@@+
        --    :+#%#+-     .-+###*=:  =@@+   .+**:          .=*###*=.    :+*###+-       -+###+-
        --   +@@%*#@@=  .*@@@%%%@@@= +@@+   %@@@@        :#@@@%%%@@@- =%@@%##%@@%-   =@@@@@@@@%-
        --   %@@=      .@@@+     ::  =@@+   .+**:       :@@@=     -. =@@#.    :%@@- -@@@-   -@@@:
        --   .#@@@@*=. +@@#          =@@+ =--:          *@@+         @@@%@@@@@@@@@% *@@*     %@@=
        --      -+#@@@:-@@#          =@@+ =@@@#:        +@@*         %@@*:::::::.:: +@@*     %@@=
        --  .=#-   #@@+ *@@%-...:*+. =@@+   =@@@*.       #@@#-...-*=.:@@@+:  .-*+   +@@*     %@@=
        --  .#@@@@@@@*.  -#@@@@@@@@= +@@*    .*@@@+.      =%@@@@@@@%- .+%@@@@@@@%-  *@@#     %@@=
        --     :-=-:.      .:-=-:.   .--:      :-==:        .:-=-:.      .--=-:.    :--:     ---.
        --
        ------------------------------------------------------------------------------------------
        --! @file `vim_snippets#Filename()`.vhd
        ------------------------------------------------------------------------------------------
        --! @copyright Copyright `system("printf '%(%Y)T'")` SCK-CEN
        ------------------------------------------------------------------------------------------
        --! @date `system("printf '%(%d/%m/%Y)T'")`
        --! @author Andrea Bellandi <andrea.bellandi@sckcen.be>
        ------------------------------------------------------------------------------------------
        --! @brief ${1}
        ------------------------------------------------------------------------------------------
        
        --! Use standard libs
        library ieee;
        use ieee.std_logic_1164.all;
        use ieee.numeric_std.all;
        
        --!
        library desy;
        use desy.common_types.all;
        
        ${2}


# Entity template
snippet src
        ------------------------------------------------------------------------------------------
        --
        --                            ..
        --                           =@@+
        --                           =@@+
        --    :+#%#+-     .-+###*=:  =@@+   .+**:          .=*###*=.    :+*###+-       -+###+-
        --   +@@%*#@@=  .*@@@%%%@@@= +@@+   %@@@@        :#@@@%%%@@@- =%@@%##%@@%-   =@@@@@@@@%-
        --   %@@=      .@@@+     ::  =@@+   .+**:       :@@@=     -. =@@#.    :%@@- -@@@-   -@@@:
        --   .#@@@@*=. +@@#          =@@+ =--:          *@@+         @@@%@@@@@@@@@% *@@*     %@@=
        --      -+#@@@:-@@#          =@@+ =@@@#:        +@@*         %@@*:::::::.:: +@@*     %@@=
        --  .=#-   #@@+ *@@%-...:*+. =@@+   =@@@*.       #@@#-...-*=.:@@@+:  .-*+   +@@*     %@@=
        --  .#@@@@@@@*.  -#@@@@@@@@= +@@*    .*@@@+.      =%@@@@@@@%- .+%@@@@@@@%-  *@@#     %@@=
        --     :-=-:.      .:-=-:.   .--:      :-==:        .:-=-:.      .--=-:.    :--:     ---.
        --
        ------------------------------------------------------------------------------------------
        --! @file `vim_snippets#Filename()`.vhd
        ------------------------------------------------------------------------------------------
        --! @copyright Copyright `system("printf '%(%Y)T'")` SCK-CEN
        ------------------------------------------------------------------------------------------
        --! @date `system("printf '%(%d/%m/%Y)T'")`
        --! @author Andrea Bellandi <andrea.bellandi@sckcen.be>
        ------------------------------------------------------------------------------------------
        --! @brief Module ${1:`vim_snippets#Filename()`} is ${2}
        ------------------------------------------------------------------------------------------
        
        --! Use standard libs
        library ieee;
        use ieee.std_logic_1164.all;
        use ieee.numeric_std.all;
        
        --! Add the desy library
        library desy;
        use desy.common_types.all;
        
        --! @brief This is the description of entity $1
        entity $1 is
          port(
            --! Clock and reset inputs.
            pi_clock         : in std_logic;
            pi_reset         : in std_logic;
            --! Entity ports
            ${3}
          );
        end $1;
        
        --! @brief Architecture of $1 
        architecture behavioral of $1 is
        -- Signals and constant declaration
        begin
          -- Sequential logic
          process(pi_clock)
          prs_$1 : begin
            if rising_edge(pi_clock) then
              if pi_reset = '1' then
                -- Reset logic
              else
                -- Sequential statements
              end if;
            end if;
          end process;
        
          -- Combinatorial logic
        end behavioral;


# Package template
snippet pkg
        ------------------------------------------------------------------------------------------
        --
        --                            ..
        --                           =@@+
        --                           =@@+
        --    :+#%#+-     .-+###*=:  =@@+   .+**:          .=*###*=.    :+*###+-       -+###+-
        --   +@@%*#@@=  .*@@@%%%@@@= +@@+   %@@@@        :#@@@%%%@@@- =%@@%##%@@%-   =@@@@@@@@%-
        --   %@@=      .@@@+     ::  =@@+   .+**:       :@@@=     -. =@@#.    :%@@- -@@@-   -@@@:
        --   .#@@@@*=. +@@#          =@@+ =--:          *@@+         @@@%@@@@@@@@@% *@@*     %@@=
        --      -+#@@@:-@@#          =@@+ =@@@#:        +@@*         %@@*:::::::.:: +@@*     %@@=
        --  .=#-   #@@+ *@@%-...:*+. =@@+   =@@@*.       #@@#-...-*=.:@@@+:  .-*+   +@@*     %@@=
        --  .#@@@@@@@*.  -#@@@@@@@@= +@@*    .*@@@+.      =%@@@@@@@%- .+%@@@@@@@%-  *@@#     %@@=
        --     :-=-:.      .:-=-:.   .--:      :-==:        .:-=-:.      .--=-:.    :--:     ---.
        --
        ------------------------------------------------------------------------------------------
        --! @file `vim_snippets#Filename()`.vhd
        ------------------------------------------------------------------------------------------
        --! @copyright Copyright `system("printf '%(%Y)T'")` SCK-CEN
        ------------------------------------------------------------------------------------------
        --! @date `system("printf '%(%d/%m/%Y)T'")`
        --! @author Andrea Bellandi <andrea.bellandi@sckcen.be>
        ------------------------------------------------------------------------------------------
        --! @brief Package ${1:`vim_snippets#Filename()`} is ${2}
        ------------------------------------------------------------------------------------------
        
        --! Use standard libs
        library ieee;
        use ieee.std_logic_1164.all;
        use ieee.numeric_std.all;
        
        --!
        library desy;
        use desy.common_types.all;
        
        --! Package file for this and that
        package $1 is
          --! Package definitions here
          ${3}
        end package $1;
        
        package body $1 is
          --! Package implementation here
        end package body;


# Process with clock
snippet process_noreset
        prs_${1} : process (${2:pi_clock})
        begin
          if rising_edge ($2) then
            -- ! Combinatorial statements
            ${3}
          end if;
        end process;



# Process with clock and reset
snippet process
        prs_${1} : process (${2:pi_clock})
        begin
          if (${3:pi_reset} = '${4:1}') then
            --! Reset logic here
          elsif rising_edge($1) then
            --! Combinatorial statements
            ${4}
          end if;
        end process;


